:root {
  --naples-yellow: #f2d854;
  --naples-yellow-dark-10: #d9bf3b;
  --raisin-black: #212738;
  --bittersweet-pink: #f97068;
  --vivid-sky-blue: #57c4e5;
  --polished-pine: #689689;
  --brand-color: var(--naples-yellow);
  --brand-color-dark-10: var(--naples-yellow-dark-10);
  --primary-text-color: var(--raisin-black);
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  color: var(--primary-text-color);
}

.action-button {
  background-color: var(--brand-color);
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.2);
}

.hero {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.hero__content {
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "heading image"
    "callToAction callToAction";
}

.hero__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: heading;
}

.hero__primary-heading,
.hero__secondary-heading {
  margin: 0;
}

.hero__primary-heading {
  font-size: 72px;
  color: var(--brand-color);
}

.hero__secondary-heading {
  font-size: 48px;
  color: var(--primary-text-color);
}

.hero__image {
  transform: rotate(-45deg);
  height: 35vh;
  grid-area: image;
}

.hero__call-to-action {
  grid-area: callToAction;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__call-to-action button {
  font-size: 32px;
}

.action-button:hover {
  filter: brightness(90%);
}

.action-button:active {
  box-shadow: none;
  filter: brightness(87%);
}

.contact {
  max-width: 700px;
  margin: 0 auto;
}

.contact__heading {
  font-size: 32px;
  color: var(--brand-color);
}

.contact__form-heading {
  color: var(--brand-color);
}

.contact__info,
.contact__form {
  font-size: 24px;
}

.contact__form label {
  font-weight: bold;
}
