:root {
  --naples-yellow: #f2d854;
  --naples-yellow-dark-10: #d9bf3b;
  --raisin-black: #212738;
  --bittersweet-pink: #f97068;
  --vivid-sky-blue: #57c4e5;
  --polished-pine: #689689;
  --brand-color: var(--naples-yellow);
  --brand-color-dark-10: var(--naples-yellow-dark-10);
  --primary-text-color: var(--raisin-black);
}

body {
  margin: 0;
}

body,
button,
input,
textarea {
  font-family: "Nunito", sans-serif;
  color: var(--primary-text-color);
}

.action-button {
  background-color: var(--brand-color);
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.2);
}

.hero {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.hero__content {
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "heading image"
    "callToAction callToAction";
}

.hero__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: heading;
}

.hero__primary-heading,
.hero__secondary-heading {
  margin: 0;
}

.hero__primary-heading {
  font-size: 72px;
  color: var(--brand-color);
}

.hero__secondary-heading {
  font-size: 48px;
  color: var(--primary-text-color);
}

.hero__image {
  transform: rotate(-45deg);
  width: 95%;
  height: 95%;
}

.hero__call-to-action {
  grid-area: callToAction;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__call-to-action button {
  font-size: 32px;
}

.action-button:hover {
  filter: brightness(90%);
}

.action-button:active {
  box-shadow: none;
  filter: brightness(87%);
}

/* .contact {
  max-width: 700px;
} */

.contact__heading,
.media__heading,
.specialties__heading,
.about__heading {
  font-size: 32px;
  color: var(--brand-color);
  justify-self: start;
}

main {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  max-width: 1100px;
  justify-content: flex-start;
  margin: 0 auto;
}

.contact__form-heading {
  color: var(--brand-color);
}

.contact__info,
.contact__form {
  font-size: 24px;
}

.contact__form label {
  font-weight: bold;
}

.hero__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  width: 100%;
  overflow: hidden;
}

.media,
.specialties {
  min-width: fit-content;
  /* max-width: 700px; */
  justify-content: center;
}

.media__photos-container,
.specialties__list-container ul {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  width: 100%;
}

.specialties__list-container ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  text-align: center;
  width: 100%;
}

.specialties__list-container ul li {
  font-weight: bold;
  font-size: 36px;
}

.about__content-text__brand-emphasis {
  color: var(--brand-color);
  font-weight: bold;
  font-size: 110%;
}

.media img,
.about img {
  box-shadow: 8px 9px 0 0 var(--brand-color);
  transition: transform 0.1s ease-in-out;
}

.media img:hover,
.about img:hover {
  transform: scale(1.05);
  transition: transform 0.1 ease-in-out;
}

.media a:last-of-type {
  grid-column: span 2;
  justify-self: center;
}

input,
textarea {
  border: none;
  border-bottom: 2px solid var(--brand-color);
}

.form-group {
  display: flex;
  flex-direction: column;
}

.about__content {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.about__content p {
  max-width: 700px;
}

.about__content-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 20px;
}

@media screen and (max-width: 760px) {
  .hero__content {
    display: grid;
    grid-template-rows: 1.25fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "heading"
      "callToAction"
      "image";
    text-align: center;
  }

  .hero {
    display: initial;
  }

  .hero__heading h1,
  .hero__heading h2 {
    word-wrap: break-word;
  }

  .hero__image-container {
    height: 30vh;
  }

  .contact {
    padding: 16px;
  }

  .media,
  .contact,
  .specialties,
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
  }

  .media__photos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .media img:last-of-type {
    grid-column: unset;
    justify-self: unset;
  }

  .about__content {
    flex-direction: column;
  }

  .specialties__list-container ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
